-- Fix hero_cards image URLs by removing double path
-- This script fixes URLs that have /hero-cards/hero-cards/ and changes them to /hero-cards/

UPDATE hero_cards 
SET 
  primary_image = REPLACE(primary_image, '/hero-cards/hero-cards/', '/hero-cards/'),
  secondary_image = REPLACE(secondary_image, '/hero-cards/hero-cards/', '/hero-cards/'),
  tertiary_image = REPLACE(tertiary_image, '/hero-cards/hero-cards/', '/hero-cards/')
WHERE 
  primary_image LIKE '%/hero-cards/hero-cards/%' 
  OR secondary_image LIKE '%/hero-cards/hero-cards/%' 
  OR tertiary_image LIKE '%/hero-cards/hero-cards/%';

-- Also fix any hero_slides table if it exists
UPDATE hero_slides 
SET 
  image_url = REPLACE(image_url, '/hero-cards/hero-cards/', '/hero-cards/')
WHERE 
  image_url LIKE '%/hero-cards/hero-cards/%';

-- Show the updated records
SELECT id, title, primary_image, secondary_image, tertiary_image 
FROM hero_cards 
WHERE active = true 
ORDER BY order_index;