CREATE TABLE public.bathroom_categories (
  id uuid PRIMARY KEY DEFAULT uuid_generate_v4(),
  business_sector_id uuid REFERENCES public.business_sectors(id),
  name text NOT NULL,
  description text,
  active boolean DEFAULT TRUE,
  sort_order integer DEFAULT 0,
  created_at timestamp with time zone DEFAULT now() NOT NULL,
  updated_at timestamp with time zone DEFAULT now() NOT NULL
);

CREATE TRIGGER handle_updated_at BEFORE UPDATE ON public.bathroom_categories FOR EACH ROW EXECUTE FUNCTION moddatetime('updated_at');

ALTER TABLE public.bathroom_categories ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Public
bathroom
categories
are
viewable
by
everyone.\ ON public.bathroom_categories FOR SELECT USING (active = TRUE);
CREATE POLICY \Authenticated
users
can
create
bathroom
categories.\ ON public.bathroom_categories FOR INSERT WITH CHECK (auth.role() = 'authenticated');
CREATE POLICY \Authenticated
users
can
update
their
own
bathroom
categories.\ ON public.bathroom_categories FOR UPDATE USING (auth.uid() = business_sector_id) WITH CHECK (auth.uid() = business_sector_id);
CREATE POLICY \Authenticated
users
can
delete
their
own
bathroom
categories.\ ON public.bathroom_categories FOR DELETE USING (auth.uid() = business_sector_id);

