CREATE TABLE public.bathroom_installations (
  id uuid PRIMARY KEY DEFAULT uuid_generate_v4(),
  business_sector_id uuid REFERENCES public.business_sectors(id),
  title text NOT NULL,
  location text,
  description text,
  area text,
  client_name text,
  image_url text,
  completion_date date,
  published boolean DEFAULT TRUE,
  sort_order integer DEFAULT 0,
  created_at timestamp with time zone DEFAULT now() NOT NULL,
  updated_at timestamp with time zone DEFAULT now() NOT NULL
);

CREATE TRIGGER handle_updated_at BEFORE UPDATE ON public.bathroom_installations FOR EACH ROW EXECUTE FUNCTION moddatetime('updated_at');

ALTER TABLE public.bathroom_installations ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Public
bathroom
installations
are
viewable
by
everyone.\ ON public.bathroom_installations FOR SELECT USING (published = TRUE);
CREATE POLICY \Authenticated
users
can
create
bathroom
installations.\ ON public.bathroom_installations FOR INSERT WITH CHECK (auth.role() = 'authenticated');
CREATE POLICY \Authenticated
users
can
update
their
own
bathroom
installations.\ ON public.bathroom_installations FOR UPDATE USING (auth.uid() = business_sector_id) WITH CHECK (auth.uid() = business_sector_id);
CREATE POLICY \Authenticated
users
can
delete
their
own
bathroom
installations.\ ON public.bathroom_installations FOR DELETE USING (auth.uid() = business_sector_id);

