CREATE TABLE public.product_inquiries (
  id uuid PRIMARY KEY DEFAULT uuid_generate_v4(),
  product_id uuid REFERENCES public.bathroom_products(id),
  customer_name text NOT NULL,
  customer_email text NOT NULL,
  customer_phone text,
  message text,
  inquiry_type text NOT NULL,
  status text NOT NULL,
  created_at timestamp with time zone DEFAULT now() NOT NULL,
  updated_at timestamp with time zone DEFAULT now() NOT NULL
);

CREATE TRIGGER handle_updated_at BEFORE UPDATE ON public.product_inquiries FOR EACH ROW EXECUTE FUNCTION moddatetime('updated_at');

ALTER TABLE public.product_inquiries ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Public
product
inquiries
are
viewable
by
authenticated
users.\ ON public.product_inquiries FOR SELECT USING (auth.role() = 'authenticated');
CREATE POLICY \Anyone
can
create
product
inquiries.\ ON public.product_inquiries FOR INSERT WITH CHECK (TRUE);
CREATE POLICY \Authenticated
users
can
update
their
own
product
inquiries.\ ON public.product_inquiries FOR UPDATE USING (auth.uid() = product_id) WITH CHECK (auth.uid() = product_id);
CREATE POLICY \Authenticated
users
can
delete
their
own
product
inquiries.\ ON public.product_inquiries FOR DELETE USING (auth.uid() = product_id);

