CREATE TABLE public.bathroom_products (
  id uuid PRIMARY KEY DEFAULT uuid_generate_v4(),
  business_sector_id uuid REFERENCES public.business_sectors(id),
  name text NOT NULL,
  model text,
  category text NOT NULL,
  price text,
  features text[],
  description text,
  specifications jsonb,
  image_url text,
  rating numeric DEFAULT 0,
  reviews_count integer DEFAULT 0,
  published boolean DEFAULT TRUE,
  sort_order integer DEFAULT 0,
  created_at timestamp with time zone DEFAULT now() NOT NULL,
  updated_at timestamp with time zone DEFAULT now() NOT NULL
);

CREATE TRIGGER handle_updated_at BEFORE UPDATE ON public.bathroom_products FOR EACH ROW EXECUTE FUNCTION moddatetime('updated_at');

ALTER TABLE public.bathroom_products ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Public
bathroom
products
are
viewable
by
everyone.\ ON public.bathroom_products FOR SELECT USING (published = TRUE);
CREATE POLICY \Authenticated
users
can
create
bathroom
products.\ ON public.bathroom_products FOR INSERT WITH CHECK (auth.role() = 'authenticated');
CREATE POLICY \Authenticated
users
can
update
their
own
bathroom
products.\ ON public.bathroom_products FOR UPDATE USING (auth.uid() = business_sector_id) WITH CHECK (auth.uid() = business_sector_id);
CREATE POLICY \Authenticated
users
can
delete
their
own
bathroom
products.\ ON public.bathroom_products FOR DELETE USING (auth.uid() = business_sector_id);

